.mySlides{
    opacity: 0;
    width: 100%;
    height: 100%
    
}
.image-container{
    transition: transform .3s ease-out;
    min-width:calc(50vw)
}
/* .row:after{
    content: "";
    display: flex;
    gap: 2px;
} */
.demo{
    opacity: 0.6;
    border: 2px solid #a6a6a6;
    /* border: 2px solid #2189ff; */
    padding: .2vw;
}
.column{            
    width: 20%;
}
.active{
    opacity: 1;            
    border-color: #2189ff;
}
.spec-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, auto));
}


*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  div.accordion-container{
    position: relative;
    margin:em;
  }

 .scroll-bar-hidden{
  scrollbar-width: none;
 }
  
